.cabezablog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
        margin-left: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0;

        img {
            width: 10%;
        }

        h6 {
            align-self: flex-end;
        }
    }

    nav {
        margin-right: 1em;
        display: flex;

        a {
            text-decoration: none;
            margin: 0 1em;
        }
    }
}